main {
    background-color: #f5f5f5;
}

input.ng-valid {
  border: 1px solid green;
}

header {
    height: 60px;
    max-height: 60px;
    background-color: #fff;
}

.account__user {
    margin-right: 50px;
}

.account__user-mobile {
	display: none;
}

@media (max-width: 36em){
	.account__user {
    	display: none;
	}
	.account__user-mobile {
		display: block;
	}
}

.size-icon {
    font-size: 24px;
}

.size-icon-sm {
    font-size: 20px;
}

.menu__item {
    cursor: pointer;
}

.menu__item:hover {
    border-bottom: 1px solid #333;
}

.list__item {
    margin-left: 35px;
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    padding-left: 5px;
    margin-bottom: 10px;
}

.list__item:hover {
    cursor: pointer;
    background-color: rgba(97, 96, 96, 0.2);
}